# Data files
*.csv
*.pkl
*.html
*.npy
lib/
ml_data/

# Environments
venv/
.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE config
.vscode/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon_

# Git conflict and swap safety
*.swp
*~
.fuse_hidden*

# Python distribution / build artifacts
*.egg-info/
dist/
build/
